<!doctype html>
<html>
  <%- include('head', {page: 'Add an Album'}) %>
  <body>
    <%- include('header') %>
    <h1>ADD AN ALBUM</h1>
    <form class='pure-form-aligned' action='/album/add' method='post'>
      <fieldset>
        <div class="pure-control-group">
          <label for="artist">Artist</label>
          <input class='artistSearch' id="artist" type="text" placeholder="Artist">
        </div>
        <div class="pure-control-group">
          <label for="title">Title</label>
          <input id="title" type="text" placeholder="Title">
        </div>
        <div class="pure-control-group">
          <label for="year">Year</label>
          <input id="year" type="text" placeholder="Year">
        </div>
        <div class="pure-control-group">
          <label for="art">Album Art</label>
          <input id="art" type="text" placeholder="Album Art URL">
        </div>
        <div class="pure-control-group">
          <label for="wiki">Wiki</label>
          <input id="wiki" type="text" placeholder="Wiki URL">
        </div>
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
      </fieldset>
    </form>
    <div class='results'></div>
    <%- include('javascripts') %>
    <script src='/js/album.js'></script>
  </body>
</html>
