<!doctype html>
<html>
  <%- include('head', {page: 'Add an Artist'}) %>
  <body>
    <%- include('header') %>
    <h1>ADD AN ARTIST</h1>
    <form action='/artist/add' method='post'>
      Name: <input name='name' placeholder='Jimi Bolton'>
      Genre: <input name='genre' placeholder='Smooth Metal'>
      <input type='submit'>
    </form>
    <%- include('javascripts') %>
  </body>
</html>
