<header>
  <ul>
    <li><a href='/'>Home</a></li>
    <% if (user) { %>
      <li><a href='/artist'>Artist</a></li>
      <li><a href='/album'>Album</a></li>
      <li><a href='/user/logout'>Logout</a></li>
    <% } else { %>
      <li><a href='/user/login'>Login</a></li>
      <li><a href='/user/new'>Register</a></li>
    <% } %>
  </ul>
</header>
