<!doctype html>
<html>
  <%- include('head', {page: 'Welcome'}) %>
  <body>
    <%- include('header') %>
    <h1>MUSICA</h1>
   <p>
     Welcome to Musica, your online music library.
   </p>
    <%- include('javascripts') %>
  </body>
</html>
